body {
	font-family: Fjord One;
	font-size: 18px;
	line-height: 1.5;
	background-color: #ffffff;
	color: #333333;
	margin: 0 auto 300px auto;
  width: 100%;
	max-width: 900px;
  transition: background-color 1s ease;
}

/*////////////////////////////////////////
///////////// PROGRESS INFO /////////////
///////////////////////////////////////*/

.progress-bar,
.progress-counter {
  position: fixed;
}

.progress-bar {
  top: 0;
  left: 0;
  height: 4px;
  background-color: #7fdbff;
}

.progress-counter {
  top: 4px;
  left: 0;
  margin-left: 10px;
  font-size: 12px;
  opacity: 50%;
}

/*///////////////////
////// HEADER //////
//////////////////*/  

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

h1 {
  margin: 0;
	font-weight: 700;
}

nav a {
  color: #333333;
  text-decoration: none;
  border-bottom: 1px solid #7fdbff;
  margin: 0 15px 0 0;
}

/*//////////////////////
/////// GALLERY ///////
/////////////////////*/

section {
  padding: 100px 0;
}

section img {
  width: 100%;
  height: auto;
}

/*////////////////////////////
///////// UTILITIES /////////
///////////////////////////*/

.hidden {
  transform: translateY(-100%);
}

/*////////////////////////////////////////
///////////// MEDIA QUERIES /////////////
///////////////////////////////////////*/

@media screen and (max-width: 630px){
  header {
    flex-direction: column;
  }

  section {
    padding: 20px;
  }

  section:first-of-type {
    margin-top: 121px;
  }
}