body {
	font-family: Fjord One;
	font-size: 18px;
	line-height: 1.5;
	background-color: #ffffff;
	color: #333333;
	margin: 0 auto 300px auto;
	width: 900px;
}

/*////////////////////////////////////////
///////////// PROGRESS INFO /////////////
///////////////////////////////////////*/

.progress {
  position: fixed;
  top: 0;
  left: 0;
}

.counter {
  font-size: 12px;
  opacity: 75%;
}

/*///////////////////
////// HEADER //////
//////////////////*/  

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px;
  box-sizing: border-box;
}

h1 {
  margin: 0;
	font-weight: 700;
}

nav a {
  color: #333333;
  text-decoration: none;
  border-bottom: 1px solid #7fdbff;
  margin: 0 15px 0 0;
}

/*//////////////////////
/////// GALLERY ///////
/////////////////////*/

section {
  padding: 100px 0 100px 0;
}

section img {
  width: 900px;
  height: 600px;
}